// Specific CSS for your home-page
.nft-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.black-card-bg {
  border-radius: 20px;
}

.nav-item {
  font-size: 1.25rem;
  display: flex;
  background-color: #3b3b3b;
  border-radius: 5px;
  justify-items: left;
}

.nav-pills {
  border-radius: 5px;
  justify-content: flex-start;
  gap: 2px;
}
