<div class="row">
  <% collections.each do |collection| %>
    <div class="col-6">
      <%= link_to addcollectionwatchlist_path(slug: collection.slug), method: :post do %>
        <%= render 'shared/dashboard_collection_card', collection: collection%>
      <% end %>
    </div>
  <% end %>
</div>
