<ul class="navigation d-flex justify-content-center p-0">
    <li class="nav-item mx-2 social-icon"><a href="https://sg.linkedin.com/in/sohzhenyi" target="_blank"><i class="fab fa-instagram" style="color:white; font-size:1.875rem; background-color: transparent;"></i></a></li>
    <li class="nav-item mx-2 social-icon"><a href="https://sg.linkedin.com/in/benedict-ng-499931150" target="_blank"><i class="fab fa-facebook" style="color:white; font-size:1.875rem; background-color: transparent;"></i></a></li>
    <li class="nav-item mx-2 social-icon"><a href="https://sg.linkedin.com/in/stephen-kusrianto-74962676" target="_blank"><i class="fab fa-discord" style="color:white; font-size:1.875rem; background-color: transparent;"></i></a></li>
    <li class="nav-item mx-2 social-icon"><a href="https://opensea.io/" target="_blank"><i class="fab fa-twitter" style="color:white; font-size:1.875rem; background-color: transparent;"></i></a></li>
</ul>
