<%# <ul class="navigation d-flex justify-content-center p-0">
    <li class="nav-item mx-2 social-icon"><i class="fab fa-instagram" style="color:white; font-size:1.875rem; background-color: transparent;"></i></li>
    <li class="nav-item mx-2 social-icon"><i class="fab fa-facebook" style="color:white; font-size:1.875rem; background-color: transparent;"></i></li>
    <li class="nav-item mx-2 social-icon"><i class="fab fa-discord" style="color:white; font-size:1.875rem; background-color: transparent;"></i></li>
    <li class="nav-item mx-2 social-icon"><i class="fab fa-youtube" style="color:white; font-size:1.875rem; background-color: transparent;"></i></li>
</ul> %>
