<ul class="navigation d-flex justify-content-center p-0">
    <li class="nav-item mx-2 social-icon"><i class="fab fa-instagram" style="color:white; font-size:45px; background-color: transparent;"></i></li>
    <li class="nav-item mx-2 social-icon"><i class="fab fa-facebook fa-lg " style="color:white; font-size:45px; background-color: transparent;"></i></li>
    <li class="nav-item mx-2 social-icon"><i class="fab fa-pinterest-p fa-lg " style="color:white; font-size:45px; background-color: transparent;"></i></li>
    <li class="nav-item mx-2 social-icon"><i class="fab fa-youtube fa-lg " style="color:white; font-size:45px; background-color: transparent;"></i></li>
</ul>
