<div class="card bg-light mb-3" style="width: 18rem;">
  <div class="d-flex justify-content-between">
    <div class="left-side flex-grow-1">
      <div class="bg-light w-80 ml-3" style="mb-0 pb-0 mt-2">
          <h5 id="title">Apeshit</h5>
      </div>
      <div class="card-body d-flex justify-content-between align-items-center flex-grow-1 px-3 pb-4">
        <div class="avatar">
        </div>
            <%# <p><%= image_tag "skull.png", alt: "Skull"%>
        <div class="floor card-text">
          <p>floor</p>
        </div>
        <div class="graph">
          <p>graph</p>
        </div>
      </div>
    </div>
    <div class="right-side socials">
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fas fa-globe"></i></a></li>
        <li><a href="#"><i class="fab fa-discord"></i></a></li>
    </div>
  </div>
</div>
