<p id="notice"><%= notice %></p>

<h1>Players</h1>
<div>
  <%= render partial: "shared/search_form" %>
  <div>
    <% @all_collections.each do |collection| %>
      <%= render partial: "dashboard_collection_card", collection: collection %>
    <% end %>
  </div>
</div>

<br>
