<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="text-left">Collection</th>
      <th scope="col" class="text-center">!Floor Price</th>
      <th scope="col" class="text-center">Total Supply</th>
      <th scope="col" class="text-center">Unique Owners</th>
    </tr>
  </thead>
  <tbody>
    <div class="nft-cards pt-3 w-100">
      <% @collections.each do |nft_collection| %>
      <%= render "shared/collection_table", nft_collection: nft_collection %>
      <% end %>
    </div>
  </tbody>
  </table>
    </div>
    <div class="mx-auto pt-6 tab-pane fade" id="pills-individual" style="background-color: #3b3b3b; color: white; overflow-y: scroll; height:75vh; border-radius: 25px;">
        <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-left">Name</th>
            <th scope="col" class="text-center">!Floor Price</th>
            <th scope="col" class="text-center">Last Sale ETH Price</th>
            <th scope="col" class="text-center">Highest Bid ETH Price</th>
          </tr>
        </thead>
    <tbody>
    <div class="nft-cards pt-3 w-100">
      <% @watchlist_nfts.each do |nft| %>
        <%= render "shared/individual_table", nft: nft %>
      <% end %>
    </div>
  </tbody>
</table>

<div class="mx-auto pt-6 tab-pane fade" id="pills-individual" style="background-color: #3b3b3b; color: white; overflow-y: scroll; height:75vh; border-radius: 25px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-left">Name</th>
        <th scope="col" class="text-center">!Floor Price</th>
        <th scope="col" class="text-center">Last Sale ETH Price</th>
        <th scope="col" class="text-center">Highest Bid ETH Price</th>
      </tr>
    </thead>
    <tbody>
      <div class="nft-cards pt-3 w-100">
        <% @watchlist_nfts.each do |nft| %>
          <%= render "shared/individual_table", nft: nft %>
        <% end %>
      </div>
    </tbody>
  </table>
</div>
