<div class="container-fluid">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog mw-100 w-75" role="document">
      <div class="modal-content glass">
        <div class="modal-header">
          <p class="modal-title text-white">Add Collection to Watchlist</p>
        </div>
        <div data-controller="watchlist-form">
          <div class='d-flex justify-content-center my-2'>
            <input placeholder="Search" data-watchlist-form-target="name" type="text" data-action="keyup->watchlist-form#search">
          </div>
          <div class="btn" data-action="click->watchlist-form#search">xxx</div>
          <span class="my-2" data-watchlist-form-target="output">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="tab-container mx-1 px-2 pb-2" >
        <ul class="nav nav-pills mb-0 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-white px-3">Portfolio</a>
          </li>
        </ul>
      </div>
      <div class="glass" style="overflow-y: scroll; height: 75vh;">
        <div class="pt-3 w-100">
          <% @nfts.each do |nft| %>
            <%= render "shared/dashboard_nft_card", nft: nft%></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="tab-container mx-1 px-2 pb-2" >
        <ul class="nav nav-pills mb-0 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-white px-2 active" id="pills-collection-tab" href="#pills-collection"  data-toggle="pill" role="tab" aria-selected="true">Collection Watchlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2" id="pills-individual-tab" data-toggle="pill" href="#pills-individual" role="tab" aria-selected="false">Individual Watchlist</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="pills-tabContent">
        <div class="glass mx-auto pt-6 tab-pane fade show active" id="pills-collection" style="overflow-y: scroll; height:75vh;">
          <div class="pt-3">
            <div class="nft-card my-2 py-2 px-1 mx-auto" id='add-watchlist-collection-button'>
              <div id="add-collection-to-watchlist" class="d-flex h-100 flex-column justify-content-center align-items-center">
                <p>Add collection to watchlist</p>
                <button type="button" class="btn text-white" data-toggle="modal" data-target="#exampleModal">
                  <i class="far fa-plus-square d-block align-middle text-center" style="font-size:2rem;"></i>
                </button>
              </div>
            </div>
            <% @collections.each do |collection| %>
              <%= render 'shared/dashboard_collection_card', collection: collection%>
            <% end %>
          </div>
        </div>
        <div class="glass mx-auto pt-6 tab-pane fade" id="pills-individual" style="overflow-y: scroll; height:75vh;">
          <div class="pt-3 w-100">
            <% @watchlist_nfts.each do |nft| %>
              <%= render "shared/dashboard_nft_card", nft: nft %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div>
        <div class="tab-container mx-1 px-2 pb-2" >
          <ul class="nav nav-pills mb-0 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-white px-3">News</a>
            </li>
          </ul>
        </div>
        <div class="glass" style="overflow-y: scroll; height: 75vh;">
          <div>
            <% @articles.each do |article| %>
              <%= render "shared/news_card", article: article %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
