<div class="banner expand-sm" style="background-image: url(<%=asset_path("floorbanner.jpeg")%>)">
  <div class="container">
    <h1><strong>!Floor</strong></h1>
    <p> <strong>Your one-stop NFT Portfolio manager</strong></p>
    <%= link_to 'Register with MetaMask', new_user_registration_path, class:"btn btn-success" %>
  </div>
</div>

<%= render "carousel" %>

<div class="mb-5 mt-0">
  <p class="d-flex justify-content-center" style="font-size: xx-large; text-shadow: 3px 3px #000;"><strong>Finally, a safe moon landing to view your entire NFT holdings</strong></p>
</div>
