<div class="checker">
  <div class="mx-auto pt-6 tab-pane" style="overflow-y: scroll; height:75vh; border-radius: 22px; border-top: none;">
    <table class="table table-striped table-dark glass" style="backdrop-filter-blur: 10px;">
      <thead class="z-20 sticky isolate top-0 bg-base-300" style="border-radius: 22px;">
        <tr class="" style="border-radius: 22px;">
          <th scope="col"></th>
          <th scope="col" class="text-left pb-3">Collection</th>
          <th scope="col" class="text-center pb-3" style="background-color: rgba(0, 0, 0, 0.4);; border-top-left-radius: 12px 12px; border-bottom-left-radius: 12px 12px;">!Floor Price</th>
          <th scope="col" class="text-center pb-3" style="background-color: rgba(0, 0, 0, 0.4);">Last Sale ETH Price</th>
          <th scope="col" class="text-center pb-3" style="background-color: rgba(0, 0, 0, 0.4);; border-top-right-radius: 12px 12px; border-bottom-right-radius: 12px 12px;">Highest Bid ETH Price</th>
        </tr>
      </thead>
      <tbody>
        <div class="nft-cards w-100">
          <% @nfts.each do |nft| %>
            <%= render "shared/individual_table", nft: nft %>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>
