<div class="checker">
  <div class="mx-auto mt-6 tab-pane" style="overflow-y: scroll; height:80vh;">
    <table class="table table-striped table-dark glasstable"  style="overflow: auto; white-space: nowrap;">
      <thead>
          <tr>
            <th scope="col" style="background-color: rgba(0, 0, 0, 0.4); vertical-align: middle;"></th>
            <th scope="col" class="text-left" style="background-color: rgba(0, 0, 0, 0.4); vertical-align: middle;">Name</th>
            <th scope="col" class="text-center" style="background-color: rgba(0, 0, 0, 0.4); vertical-align: middle;"><b>!FLOOR</b></th>
            <th scope="col" class="text-center" style="background-color: rgba(0, 0, 0, 0.4); vertical-align: middle;">Last Sale</th>
            <th scope="col" class="text-center" style="background-color: rgba(0, 0, 0, 0.4); vertical-align: middle;">Highest Bid</th>
            <th scope="col" class="text-center" style="background-color: rgba(0, 0, 0, 0.4); vertical-align: middle;">Collection Sales Volume (24Hr)</th>
            <th scope="col" class="text-center" style="background-color: rgba(0, 0, 0, 0.4); vertical-align: middle;">Collection Floor Change (24Hr)</th>
            <th scope="col" class="text-center" style="background-color: rgba(0, 0, 0, 0.4); vertical-align: middle;">Collection Sales # (24Hr)</th>
            <th scope="col" class="text-center" style="background-color: rgba(0, 0, 0, 0.4); vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="Premium of average sales price over floor price">Average Floor Premium</th>
            <th scope="col" class="text-center" style="background-color: rgba(0, 0, 0, 0.4); vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="Average asset owned per holder">Total Supply / Unique Owners</th>
          </tr>
      </thead>
      <tbody>
        <div class="nft-cards w-100">
          <% @nfts.each do |nft| %>
            <%= render "shared/individual_table", nft: nft %>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>
