<div role="table" class="text-sm isolate" style="min-width: auto;">
  <div class="z-20 sticky isolate top-0 bg-base-300" style="min-width: auto; height: 72px;">
    <div class="rounded-t-lg font-semibold syncscroll overflow-hidden pointer-events-none" style="display: flex; flex: 1 0 auto; min-width: auto; height: 300px;">
    text
    </div>
  </div>
</div>

<%= render "shared/table" %>
