p.nft-card {
  border-radius: 25px;
  border-width: 3px;
  border-color: #ffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nft-name > p {
  padding-bottom: 0;
  justify-items: center;
}

.floor {
  color: black;
}

.floor-price-text {
  color: black;
  font-size: 0.688rem;
}

.socials {
  float: right;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 1.25rem;
  color: black;
  z-index: auto;
}

.avatar {
  vertical-align: middle;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: black;
}

.twitter-icon {
  color: #424242;
  &:hover {
    color: darkslateblue;
  }
}

.etherscan-icon {
  color: #424242;
  &:hover {
    color: darkslateblue;
  }
}

.discord-icon {
  color: #424242;
  &:hover {
    color: darkslateblue;
  }
}
