.nft-card {
  border-radius: 25px;
  border-width: 3px;
  border-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nft-name > p {
  padding-bottom: 0;
}

.floor {
  color: black;
}

.graph {
  color: black;
}

.socials {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 18px;
  color: black;
  z-index: auto;
}

.avatar {
  vertical-align: middle;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: black;
}
