.nft-card {
  border-radius: 25px;
  border-width: 3px;
  // border-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg,rgba(255,0,0,.1) 0,rgba(255,23,190,.1) .01%,rgba(0,133,255,.1) 34.9%,rgba(0,135,253,.1) 34.91%,rgba(0,151,241,.1) 39.06%,rgba(0,234,178,.1) 63.02%,rgba(250,255,17,.1) 99.48%);
}

.nft-collection-number > p {
  padding-bottom: 0;
}

.last-sale-text {
  color: black;
  justify-content: center;
}

.highest-bid-text {
  color: black;
}

.socials {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 18px;
  color: black;
  z-index: auto;
}

.avatar {
  vertical-align: middle;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: black;
}
