// .nft-card {
//   border-radius: 25px;
//   border-width: 3px;
//   border-color: #ffff;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   color: white;
// }

.nft-card {
  background: rgba(242, 241, 241, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 90%;
}

.nft-collection-number > p {
  padding-bottom: 0;
}

.last-sale-text {
  color: black;
  justify-content: center;
}

.highest-bid-text {
  color: black;
}

.socials {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 1.125rem;
  color: black;
  z-index: auto;
}

.avatar {
  vertical-align: middle;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: black;
}

.twitter-icon {
  color: gray;
  &:hover {
    color: #1da1f1;
  }
}

.etherscan-icon {
  color: gray;
  &:hover {
    color: #21325b;
  }
}

.discord-icon {
  color: gray;
  &:hover {
    color: #7288da;
  }
}
