// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.navbar {
  background: rgba( 242, 241, 241, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  opacity: 0.2;
}

.navbar-nav {
  font-weight: 18px;
  background-color: transparent;
}

.ethprice {
  color: #6fdc47;
}

.gasprice {
  color: #ff6150;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

// .navbar-collapse {
// }
