// .news-card {
//   border-radius: 10px;
//   border-width: 3px;
//   border-color: #fff;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
// }

.news-card {
  background: rgba( 242, 241, 241, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  // height: 9auto0px;
}

.news-box {
  flex-direction: column;
}

.news-title {
  color: white;
}

.news-tagline > p {
  padding-bottom: 0;
}

.news-content {
  color: black;
  font-size: small;
}

.news-image {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 2px;
}
