.stats {
  display: inline;
  list-style: none;
  // margin-left: auto;
  // margin-right: auto;
  // top: 0px;
  // height: 50px;
}

.toggle-tabs {
  justify-content: space-between;
}

th:first-child, td:first-child
{
  position:sticky;
  left:0px;
  opacity:0.9;
}
