.stats {
  display: inline;
  list-style: none;
  // margin-left: auto;
  // margin-right: auto;
  // top: 0px;
  // height: 50px;
}

.glass {
    // background: inherit;
  background-color: rgba(255, 255, 255, .15);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 20px;
  text-decoration: none;
  // border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glasstable {
    // background: inherit;
  background-color: rgba(255, 255, 255, .15);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}

.colheader {
  background-color: rgba(0, 0, 0, 0.4);
  vertical-align: middle;
}
// th:first-child, td:first-child
// {
//   position:sticky;
//   left:0px;
//   opacity:0.9;
// }
