// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "components/index";
@import "pages/index";
@import "components/add_collection_watchlist_modal";
@import "pages/watchlist";


body {
  -webkit-font-smoothing: antialiased;
  background-attachment: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(asset_path("keleidoscope.jpg"));
  background-size: cover;
  .news-content {
    text-shadow: none;
  }
}

a:hover {
  text-decoration: none;
}
